@font-face {
font-family: "htf-didot";
src: url("../fonts/HTFDidot-Light24.otf") format("opentype");
}

@font-face {
font-family: "htf-didot-italic";
src: url("../fonts/HTFDidot-LightIta24.otf") format("opentype");
}

html {
		font-size: 13vw;
}

.parent {
	display: table;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

.child {
	display: table-cell;
	vertical-align: middle;

}

p {
	font-family: 'htf-didot', serif;
	font-variant-ligatures: none;
	letter-spacing: 1px;
	-webkit-text-stroke: .15vw black;
	margin: 10px;
}

.ital {
	font-family: 'htf-didot-italic', serif;
}
